<!DOCTYPE html>
<html>
<head>
    <title>Exercise Sheet</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class="title">
        <h1> {{title}} </h1>
    </header>
    <div class="container">
        <div class="column">
            <span class="test1">
                Number1
                <br>
                <span class="test2">N2</span>
            </span> 
        </div>
        <div class="column">
            Column2
        </div>
        <div class="column">
            Column3
        </div>
    </div>
</body>
</html>
