.title {
    text-align: center;
}

.container{
    display: flex;
    border: 1px solid red;
}

.column{
    flex: 1;
    border: 1px solid;
    text-align: center;
}

.test1{
    border-bottom: green solid;
    display: inline-block;
    width: auto;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.test2{
    position: absolute;
    right: 0;
    /* border: green solid; */
}


